@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Passions+Conflict&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
/* Globle Color */

:root{
    --main-color: #F2BED1;; 
    --text-color: #FDCEDF;
    --bg-color:#F9F5F6;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 2000px;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background-color: var(--main-color);
    color: var(--bg-color);
}
header a{
    display: flex;
        
}
.logo{
    font-size: 2rem;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
}
.logo i{
    margin-right: 5px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 2rem;
}
.box {
    display: flex;
    justify-content: center;
  }

.navbar li{
    position:relative;
    /* left: 30px; */
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.navbar a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #4682A9;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after,
.navbar .active::after {
    width: 100%;
}

.btn {
    background-color: var(--bg-color);
    /* margin-left: 50px; */
    padding: 0.5rem 0.5rem;
    color: black;
    font-weight: 500;
    border-radius: 0.5rem;
}
.btn:hover{
    transform: scale(1);
    filter: brightness(1.3);
}

/* Home Cover Section */

.container{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
}
.container img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
}

.home-text{
    padding-left: 150px;
}
.home-text span{
    margin-top: 1px;;
    color: black;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
}

.home-text h1{
    color: black;
    font-size: 3rem;
    font-weight: 700;
    /* margin-bottom: 1rem; */
}

.home-text .btn1{
    margin: 3px;
}
/* Card */
.card-container{
    display: flex;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 350px;
    color: black;
  }
  .container{
    padding: 1px 8px;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .btn-custom {
    background-color: #F2BED1;
    color: #F9F5F6;
  }

  